@charset "utf-8";

.non_target,
.non_target .study_content {
    background: #aaa !important;
}

.study_content {
    box-shadow: none;
    line-height: 1rem;
    margin: 0;
}
.study_content p {
    font-size: 1em;
    margin: 0;
}
.study_content li {
    line-height: .7;
}

blockquote {
    border-left: 1px solid #ccc;
    margin: 0 0 0 .5em;
    padding: 0 0 0 .5em;
}
pre {
    box-shadow: none !important;
    margin: 0;
    padding: 0;
}
code {
    background: #ddd;
    border: 1px solid #666;
    display: block;
    padding: .5em;
    width: 80%;
}

.item_box{
    cursor: -moz-grab;
    cursor: -webkit-grab;
    cursor:grab;
}
.modal-backdrop{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:100;
    margin: -2000px;
    padding: 2000px;
    background-color:#000;
    opacity:.3;
}

.add_button {
    float: right;
    padding: 0 1em;
}

.books_done{
    background: #aaa !important;
}
.books_hold{
    background: #AED5AC !important;
}
.books_new{
    background: #FFFF6A;
}